img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-container{
  margin-top: 60px;
  /* height: 1181px; */
  height: auto;
  width: calc(100% - 2(45px));
  padding: 45px;
  border: none;
  border-radius: 40px;
  background-color: white;
}

.item-info-container{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:inherit;
}
.two{
  width: 49%;
  height: 100%;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
}
.mapa-container{
  width: 100%;
  height: 100%;
}
.info-container{
  width: calc(49% - 80px);
  height: calc(200px - 80px);
  padding: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}
.button-container{
  /* position:absolute;
  right: 10%; */
  position: absolute;
  right: 2%;
  top: calc(50% - 40px);
}

/* sensores */
.item-sensores-container{
  height: 60%;
}
.all-sense{
  margin-top: 30px;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sensor{
  width: calc(24% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #a1a1a1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.sensor:hover{
  box-shadow: 0px 2px 4px #888888;
}
.sensor h4{
  text-align: left;
  font-weight: normal;
  color: #7E84A3;
  margin-bottom: 2%;
  font-size: 1rem;
}
.sensor h3{
  font-size: 1.3rem;
}
.grafica img{
  object-fit: contain;
}
.grafica{
  margin-top: 5%;
  width: 45%;
  /* height: 95%; */
  max-height: 65px;
}

/* grafica */

.grafic-sense{
  margin-top: 30px;
  padding: 30px;
  width: calc(100% - 60px);
  height: calc(85% - 60px);
  border: none;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 1px 2px #a1a1a1;
  position: relative;
}
.grafic-sense h4{
  margin-top: 10px;
  font-size: 1.2rem;
  color: black;
  /* color: #a8eac64d; */
  text-align: left;
}
.data-time{
  width: 100%;
  height: 50vh;
  max-height: 600px;
}