<div class="item-container">
  <div class="item-info-container">
   <!-- mapa -->
    <div class="two" >
      <figure class="mapa-container" #map_container>
        <!-- <img src="./assets/item-mca/mapa.png" alt="mapa"> -->
        <!-- <google-map></google-map> -->
        <!-- height="400px"
        width="750px" -->
        <google-map
            height={{map_container.offsetHeight}}
            width={{map_container.offsetWidth}}
            [options]="options"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [label]="labelOptions"
              [options]="markerOptions"
              ></map-marker>
        </google-map>
      </figure>
    </div>

    <!-- informacion -->
    <div class="info-container two">
      <p> <b class="text-black">Nombre :</b> {{sense.name}}</p>
      <p> <b class="text-black">ubicación :</b> {{sense.position_x}} {{sense.position_y}}</p>
      <p> <b class="text-black">Institución o comunidad :</b> {{sense.comunity_or_institution}}</p>
    </div>
  </div>

  <!-- sensores -->
  <div class="item-sensores-container">
    <div class="all-sense">
      <div class="sensor" (click)="changeData(1)">
        <div class="sensor-info">
          <h4>Ph</h4>
          <h3>{{sense.ph[0].series[sense.ph[0].series.length - 1].value}}</h3>
        </div>
        <figure class="grafica" #grafica_small>
          <ngx-charts-area-chart
            [view]="[grafica_small.offsetWidth, grafica_small.offsetHeight]"
            [scheme]="colorScheme_ph"
            [legend]="small_legend"
            [showXAxisLabel]="small_showXAxisLabel"
            [showYAxisLabel]="small_showYAxisLabel"
            [xAxis]="small_xAxis"
            [yAxis]="small_yAxis"
            [xAxisLabel]="small_xAxisLabel"
            [yAxisLabel]="small_yAxisLabel"
            [timeline]="small_timeline"
            [results]="sense.ph"
            (select)="onSelect($event)">
          </ngx-charts-area-chart>
        </figure>
      </div>
      <div class="sensor" (click)="changeData(2)">
        <div class="sensor-info">
          <h4>Tem</h4>
          <h3>{{sense.temperature[0].series[sense.temperature[0].series.length - 1].value}}</h3>
        </div>
        <figure class="grafica">
          <ngx-charts-area-chart
            [view]="[grafica_small.offsetWidth, grafica_small.offsetHeight]"
            [scheme]="colorScheme_tem"
            [legend]="small_legend"
            [showXAxisLabel]="small_showXAxisLabel"
            [showYAxisLabel]="small_showYAxisLabel"
            [xAxis]="small_xAxis"
            [yAxis]="small_yAxis"
            [xAxisLabel]="small_xAxisLabel"
            [yAxisLabel]="small_yAxisLabel"
            [timeline]="small_timeline"
            [results]="sense.temperature"
            (select)="onSelect($event)">
          </ngx-charts-area-chart>
        </figure>
      </div>
      <div class="sensor" (click)="changeData(3)">
        <div class="sensor-info">
          <h4>Tur</h4>
          <h3>{{sense.turbidity[0].series[sense.turbidity[0].series.length - 1].value}}</h3>
        </div>
        <figure class="grafica">
          <ngx-charts-area-chart
            [view]="[grafica_small.offsetWidth, grafica_small.offsetHeight]"
            [scheme]="colorScheme_tur"
            [legend]="small_legend"
            [showXAxisLabel]="small_showXAxisLabel"
            [showYAxisLabel]="small_showYAxisLabel"
            [xAxis]="small_xAxis"
            [yAxis]="small_yAxis"
            [xAxisLabel]="small_xAxisLabel"
            [yAxisLabel]="small_yAxisLabel"
            [timeline]="small_timeline"
            [results]="sense.turbidity"
            (select)="onSelect($event)">
          </ngx-charts-area-chart>
        </figure>
      </div>
      <div class="sensor" (click)="changeData(4)">
        <div class="sensor-info">
          <h4>TDS</h4>
          <h3>{{sense.tds[0].series[sense.tds[0].series.length - 1].value}}</h3>
        </div>
        <figure class="grafica">
          <ngx-charts-area-chart
            [view]="[grafica_small.offsetWidth, grafica_small.offsetHeight]"
            [scheme]="colorScheme_tds"
            [legend]="small_legend"
            [showXAxisLabel]="small_showXAxisLabel"
            [showYAxisLabel]="small_showYAxisLabel"
            [xAxis]="small_xAxis"
            [yAxis]="small_yAxis"
            [xAxisLabel]="small_xAxisLabel"
            [yAxisLabel]="small_yAxisLabel"
            [timeline]="small_timeline"
            [results]="sense.tds"
            (select)="onSelect($event)">
          </ngx-charts-area-chart>
        </figure>
      </div>
    </div>
    <div class="grafic-sense">
      <figure class="data-time" #containerRef>
        <ngx-charts-line-chart
            [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
            [legend]="big_legend"
            [scheme]="colorScheme_big"
            [showXAxisLabel]="big_showXAxisLabel"
            [showYAxisLabel]="big_showYAxisLabel"
            [xAxis]="big_xAxis"
            [yAxis]="big_yAxis"
            [xAxisLabel]="big_xAxisLabel"
            [yAxisLabel]="big_yAxisLabel"
            [timeline]="big_timeline"
            [results]="slectValues"
            [yScaleMax]="yScaleMax"
            [yScaleMin]="yScaleMin"
            [legendTitle]="'Sensor'"
            (select)="onSelect($event)">
          </ngx-charts-line-chart>
      </figure>

      <a class="button-container" routerLink="/visualizedata/view/1" routerLinkActive="active">
        <img src="./assets/item-mca/botton.svg" alt="botton">
      </a>

    </div>
  </div>
</div>
