button{
  width: 70px;
  height: 70px;
  background-color: #53A6D8;
  border: none;
  border-radius: 100%;
  transform: rotateZ(-90deg);
  position: sticky;
  top: 91vh;
  left: 93vw;
  z-index: 2;
  cursor: pointer;
}

a{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

@media (max-width: 600px) {
  button {
    width: 55px;
    height: 55px;
    top: 90vh;
    left: 80vw;
  }
}
@media (max-height: 600px) {
  button {
    top: 81vh;
    left: 88vw;
  }
}