<div class="item-container">
  <!-- infor -->
  <div class="info-contaner">
    <div class="info-static">
      <figure class="img-container signo">
        <img src="./assets/item/icon.svg" alt="">
      </figure>
      <p class="opinion">Opinion y experiencia</p>
      <div class="sona-gris">
          <div>
            <p>Mark Einst</p>
            <p><b>Social media</b></p>
          </div>
          <div>
            <p><b>Institución o comunidad:</b> El salto</p>
            <p><b>Nombre:</b> sonda 1</p>
          </div>
      </div>
    </div>

    <div class="info-dinamic">
      <figure class="img-container circle">
        <img src="./assets/item/user.svg" alt="">
      </figure>
    </div>
  </div>

  <!-- img -->
  <div class="img-secction">
    <figure class="img-container all">
      <img src="./assets/item/img_1.svg" alt="">
    </figure>
    <div class="buttons-container">
      <button><img src="" alt=""></button>
      <button><img src="" alt=""></button>
    </div>
  </div>
</div>