.item-container{
  width: 100%;
  height: 50vh;
  max-height: 675px;
  background-color: white;
  border: none;
  border-radius: 40px;
  display: flex;
  margin-bottom: 11vh;
}

.img-secction,
.info-contaner{
  /* width: 50%; */
  width: 40%;
  height: 100%;
  position: relative;
}
.img-secction{
  width: 60%;
}

img,
.img-container{
  width: 100%;
  height: 100%;
  /* border-radius: 0 20px 20px 0; */
  border-radius: 0;
}
img{
  object-fit: cover;
}

/* info */
.info-static{
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.signo{
  max-width: 120px;
  max-height: 120px;
}
.opinion{
  width: 95%;
  height: 40%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* sona gris */
.sona-gris{
  background-color: #F0F0F0;
  width: 80%;
  padding: 25px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.info-dinamic{
  position: absolute;
  bottom: -30px;
  left: 45%;
  width: 20%;
}
.circle{
  width: 50%;
  height: 50%;
  border: 8px solid white;
  border-radius: 100%;
  display: flex;
}

/* img secction*/
/* .all img{
  object-fit: none;
} */
.buttons-container{
  display: flex;
  position: absolute;
  bottom: -2vw;
  right: -2vw;
}

button img{
  object-fit: fill;
}
button{
  background-color: #53A6D8;
  border: none;
  width: 4vw;
  height: 2.5vw;
  padding: 10px;
  cursor: pointer;
}

.space-right{
  margin-right: 10px;
}

.circle img{
  border-radius: 100%;
}

@media (max-width: 1024px) {
  button{
    width: 4.5vw;
    height: 3vw;
    padding: 0.5vw;
  }
  .signo{
    width: 10vw;
    height: 10vw;
  }

  p,
  .opinion{
    font-size: 2vw;
  }


  .circle{
    width: 100%;
    height: 100%;
  }
  .info-dinamic{
    bottom: -3vw;
    left: 45%;
    width: 6vw;
    height: 6vw;
  }
}
@media (max-width: 625px) {
  .item-container{
    flex-direction: column;
    min-height: 700px;
    border-radius: 3vw;
  }
  .info-contaner{
    width: 100%;
    height: 40%;
  }
  .img-secction{
    height: 60%;
    width: 100%;
  }

  .opinion{
    width: 90%;
  }
  .info-dinamic{
    z-index: 10;
  }
  .buttons-container{
    right: 37vw;
  }
  button {
    width: 9vw;
    height: 4vw;
  }
  .sona-gris{
    margin-top: 4vw;
  }
}

@media (max-width: 425px) {
  .opinion,
  p{
    font-size: 4vw;
  }

  button{
    width: 11vw;
    height: 6vw;
  }

  .buttons-container{
    right: 31vw;
  }
}