.container{
  width: 60vw;
  margin: auto;
  height: auto;
  max-width: 1388px;
}
.list{
  height: auto;
  width: 100%;
}

/* buttons */
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  width: 100%;
}

.buttons button{
  color: white;
  background-color: #045C93;
  border: none;
  border-radius: 145px;
  width: 47%;
  font-size: 2vw;
  height: 5vw;
  max-height: 170px;
  font-family: "Cubano", sans-serif;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container{
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .container{
    width: 91vw;
  }
}
@media (max-width: 425px) {
  .buttons{
    flex-direction: column;
  }
  .buttons button{
    width: 60vw;
    height: 10vw;
    font-size: 4vw;
  }
}

@media (max-height: 500px) {
  .container{
    width: 90vw;
  }
}