
<header class="main-seccion">
  <div>
    <h1>Acercamientos al agua </h1>
    <nav>
        <a href="#que-es">Qué es?</a>
        <a href="#como-funciona">Cómo funciona</a>
        <a href="#trayecto">El trayecto</a>
        <a href="#equipo">Equipo</a>
    </nav>
  </div>
</header>

<section class="que-es ">
  <div>
    <p>Innovador</p>
    <h2 id="que-es">¿Qué es el proyecto?</h2>
    <p>Una invitación a tomar acción y entender los comportamientos y trastornos acerca de nuestras aguas</p>
  </div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande imagen-1">
      <div>
        <p class="label">Nuestra motivación</p>
        <h3>Problemática</h3>
      </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <!-- <h3>Un problema que hacemos a un lado</h3> -->
        <p>Es difícil imaginar todo lo que está en juego. ¿Termina el Antropoceno rápidamente, con una explosión o una efervescencia? ¿Cómo es posible que evolucione desde aquí, de vuelta a un sistema equilibrado? ¿Hay incluso ejemplos de sistemas que progresan hacia atrás?            ¿Cómo se puede volver a dar sentido a un lugar y ver sus potenciales poéticos cuando uno se percibe a sí mismo como si ya estuviera respirando el Antropoceno?            Este proyecto parte del gesto artístico de incentivar la ciencia ciudadana y contribuir a la formación de vínculos y herramientas apropiadas para las comunidades alrededor del Río Santiago y otros pueblos en el mundo. La obra es un ejemplo de cómo el arte puede entrar a los problemas de contaminación desde una perspectiva social.
        </p>
      </div>
  </div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande color">
      <div>
        <h3>Ejemplo de estudio de caso</h3>
        <p>La contaminación del Río Santiago, es de los desastres ecológicos más grandes de Jalisco. Tan pronto nos acercamos a las maravillosas cascadas, del Salto, un penetrante olor a químicos se inserta en nuestras cavidades nasales. Los habitantes de la zona sufren cáncer y enfermedades de los riñones, trastornos cognitivos y emocionales. Muchas muertes se atribuyen a la contaminación. El Estado niega o desconoce, pero los líderes comunitarios sospechan que el agua contaminada que corre por el Río Santiago, que nutre el Lago de Chapala y las bombas de los sistemas públicos de agua potable de la región es a la que hay que culpar. ¿Como los habitantes en esta área se han organizado y han logrado resistir e ir más allá?.
        </p>
      </div>
  </div>
  <div class="seccion-grande imagen-2">
    <div>
      <p class="label">La historia</p>
      <h3>Inspiración</h3>
    </div>
</div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande imagen-3">
      <div>
        <p class="label">Lo que vamos a hacer</p>
        <h3>Enfoque</h3>
      </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <h3>Midiendo la calidad del agua</h3>
        <p>La presente investigación propone estimular la ciencia ciudadana y sus procesos sociales a través de una plataforma interactiva. La pieza entreteje conceptos y potenciales poéticos / políticos / científicos; buscando conectar con distintos grupos comunitarios, sobre todo en zonas de riesgo ambiental, que estén interesados en empezar a tomar control sobre sus aguas. La plataforma aporta herramientas que se pueden construir a muy bajo costo y que simulan distintas perspectivas acerca del agua fusionando datos duros y otras expresiones del agua - comportamientos y transformaciones. La obra se suma  a esfuerzos ciudadanos en torno a la problemática del río Santiago.
        </p>
      </div>
  </div>
</section>
<!-- <section class="container-grandes container">
  <div class="seccion-grande imagen-1">
      <div>
        <p class="label">Lo que queremos hacer</p>
        <h3>Enfoque</h3>
      </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <h3>Midiendo la calidad del agua</h3>
        <p>La presente investigación propone estimular la ciencia ciudadana y sus procesos sociales a través de una plataforma interactiva. La pieza entreteje conceptos y potenciales poéticos / políticos / científicos; buscando conectar con distintos grupos comunitarios, sobre todo en zonas de riesgo ambiental, que estén interesados en empezar a tomar control sobre sus aguas. La plataforma aporta herramientas que se pueden construir a muy bajo costo y que simulan distintas perspectivas acerca del agua fusionando datos duros y otras expresiones del agua - comportamientos y transformaciones. La obra se suma  a esfuerzos ciudadanos en torno a la problemática del río Santiago.
        </p>
      </div>
  </div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande color">
      <div>
        <h3>Un problema que hacemos a un lado</h3>
        <p>Es difícil imaginar todo lo que está en juego. ¿Termina el Antropoceno rápidamente, con una explosión o una efervescencia? ¿Cómo es posible que evolucione desde aquí, de vuelta a un sistema equilibrado? ¿Hay incluso ejemplos de sistemas que progresan hacia atrás?            ¿Cómo se puede volver a dar sentido a un lugar y ver sus potenciales poéticos cuando uno se percibe a sí mismo como si ya estuviera respirando el Antropoceno?            Este proyecto parte del gesto artístico de incentivar la ciencia ciudadana y contribuir a la formación de vínculos y herramientas apropiadas para las comunidades alrededor del Río Santiago y otros pueblos en el mundo. La obra es un ejemplo de cómo el arte puede entrar a los problemas de contaminación desde una perspectiva social.</p>
      </div>
  </div>
  <div class="seccion-grande imagen-2">
    <div>
      <p class="label">Midiendo la calidad del agua</p>
      <h3>Inspiración</h3>
    </div>
</div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande imagen-3">
      <div>
        <p class="label">Lo que queremos hacer</p>
        <h3>Problemática</h3>
      </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <h3>Ejemplo de estudio de caso</h3>
        <p>La contaminación del Río Santiago, ubicado cerca de la ciudad de Guadalajara, es de los desastres ecológicos más grandes de Jalisco. Tan pronto nos acercamos a sus maravillosas cascadas, las cuales demarcan la frontera municipal entre Juanacatlán y El Salto, un penetrante olor a químicos se inserta en nuestras cavidades nasales, ataca la garganta y nos deja con una intensa irritación en los ojos. Los habitantes de la zona sufren cáncer y enfermedades de la piel, así como deficiencias respiratorias. Muchas muertes se atribuyen a la contaminación.           A menos de 50 kilómetros de distancia, en un hermoso y tradicional pueblo de la rivera del Lago de Chapala, donde la mayoría de la gente es indígena, San Pedro Itzicán, la insuficiencia renal es responsable de la muerte de 200 personas y hay datos que confirman que 250 niños padecen afectaciones en los riñones, mientras que los números son similares en poblaciones cercanas.
        </p>
      </div>
  </div>
</section> -->

<section class="container-m color container-obra-1">
  <h3 class="title">Distintas perspectivas acerca del comportamiento del agua</h3>

  <section class="flex-img-container-four">
    <figure class="img-container-four">
      <img src="./assets/art_3.jpeg" alt="">
    </figure>
    <figure class="img-container-four">
      <img src="./assets/art_2.jpeg" alt="">
    </figure>
    <figure class="img-container-four">
      <img src="./assets/art_4.jpeg" alt="">
    </figure>
    <figure class="img-container-four">
      <img src="./assets/art_1.jpeg" alt="">
    </figure>
  </section>

</section>


<section id="como-funciona" class="container-grandes-b container">

  <h3 class="title">¿Cómo funciona?</h3>

  <div class="container-img">
    <div class="item-img img-1">
      <h2>Monitoreo del agua</h2>
      <p>Se monitorea de de TDS, pH, temperatura del agua, Turbiedad</p>
    </div>
    <div class="item-img img-2">
      <h2>Transformacion de datos</h2>
      <p>Creando una base de datos, con la historia de la ubicación de los dispositivos</p>
    </div>
    <div class="item-img img-3">
      <h2>Creacion de arte</h2>
      <p>Involucrando la ciencia con los datos duros de los sensores, donde la creación de arte se hace posible.</p>
    </div>
  </div>
</section>

<figure class="img-banner-width">
  <img src="./assets/banner_1.jpg" alt="">
</figure>


<section class="container" >
  <!-- medidor -->
  <div class="container-flex">

    <div class="item-container">
      <p class="item-class">Contaminación del agua</p>
      <figure class="imagen-container">
        <img src="./assets/tds.png" alt="contaminacion">
      </figure>
      <h4 class="item-title">Medidor TDS</h4>
      <p class="item-text">TDS(Total de Sólidos Disuelto), Los TDS se componen de sales inorgánicas, las más comunes presentes en el agua son los minerales como calcio, magnesio, potasio y sodio, entre otros. El lector de TDS funciona por conductividad y mide la conductividad del agua. Rango TDS: 0 ~ 1000ppm / TDS Precisión: ± 10% FS (25 °C)</p>
    </div>
    <div class="item-container">
      <p class="item-class">Contaminación del agua</p>
      <figure class="imagen-container">
        <img src="./assets/ph.png" alt="contaminacion">
      </figure>
      <h4 class="item-title">Medidor de pH</h4>
      <p class="item-text">Medida del grado de acidez o alcalinidad de una sustancia o una solución. El pH se mide en una escala de 0 a 14. En esta escala, un valor pH de 7 es neutro, lo que significa que la sustancia o solución no es ácida ni alcalina. Rango de medición: 0-14 pH, Precisión: ± 0.1pH (25 ° C)</p>
    </div>
    <div class="item-container">
      <p class="item-class">Contaminación del agua</p>
      <figure class="imagen-container">
        <img src="./assets/temperatura.png" alt="contaminacion">
      </figure>
      <h4 class="item-title">Medidor de temperatura</h4>
      <p class="item-text">La temperatura superficial media del agua es de 8,8 ºC . Un valor de temperatura satisfactorio, ya que es inferior a 15 ºC (temperaturas superiores a 15 ºC favorecen el desarrollo de microorganismos e intensifican los olores y sabores) y muy inferior a 25 ºC , que marca el inicio de la contaminación térmica.Precisión: ± 0.5 ° C Precisión desde -10 ° C a + 85 ° C</p>
    </div>
    <div class="item-container">
      <p class="item-class">Contaminación del agua</p>
      <figure class="imagen-container">
        <img src="./assets/tur.png" alt="contaminacion">
      </figure>
      <h4 class="item-title">Medidor de turbiedad</h4>
      <p class="item-text">La turbidez es una medida del grado en el cual el agua pierde su transparencia debido a la presencia de partículas en suspensión. Cuantos más sólidos en suspensión haya en el agua, más sucia parecerá ésta y más alta será la turbidez.</p>
    </div>

  </div>

  <!-- app -->

</section>

<br>
<br>
<br>
<br>
<br>
<br>
<section class="container talleres-blog">
  <div class="talleres">
    <h3>Talleres</h3>
  </div>
  <div class="blog">
    <h3>Blog</h3>
  </div>
</section>

<section class="container frase">
    <div>
      <p>"Todo lo que hacemos, cada acción que tomamos es la producción de una estructura. Puedes ser consciente o no de las estructuras que reproducimos y puedes ser ignorante, ¡pero no eres inocente!"</p>
      <br>
      <p>--- Greene, septiembre de 2016</p>
    </div>
</section>

<section id="trayecto" class="container container-obra">
  <h3 class="title tiitle-clean">El trayecto</h3>
  <p class="space">DE DÓNDE VENIMOS Y HACIA DÓNDE VAMOS</p>

  <div class="lista">
    <ol>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Producción y diseño de estrategia de trabajo</p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Investigación (contextualización), Contactar grupos comunitarios.</p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Diseño y realización del instrumento de monitoreo, selección de materiales, 
          Programación del Backend y de dispositivos Iot.
          </p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Reuniones comunitarias (Casa Blanca, El Salto, Juanacatlán) para decidir puntos clave y parámetros para las exploraciones de monitoreo.</p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Reuniones comunitarias con actores clave para decidir Colocar piezas de monitoreo en los distintos puntos del río. Revisar su funcionamiento periódicamente, manteniendo bitácoras y otras formas de documentación.
        </p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Organización de datos obtenidos y otros contenidos</p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Diseño y realización de visualizaciones y diseño web.
        </p>
      </div></li>
      <li><div>
        <!-- <h5>Marzo</h5> -->
        <p>Plan de Difusion y busqueda de usuarios, visibilizar proyecciones del proyecto,
        </p>
      </div></li>
    </ol>
  </div>
</section>

<section id="equipo" class="container container-obra">
  <h3 class="title tiitle-clean">El equipo</h3>
  <p class="space">ENTRE TODOS ES POSIBLE</p>

  <div class="equipo-container">

    <div class="equipo-item">
      <figure>
        <img src="./assets/DiegoRetrato.jpg" alt="">
      </figure>
      <h4>Diego Luna</h4>
      <p>Soy Diego Luna, Full Stack JavaScript Developer, me especializo en proyectos WEB, IoT, infraestructura en la nube, modelado e impresión 3D.Me encanta crear proyectos desafiantes, combinando mis habilidades de desarrollo y construcción, con impacto en la comunidad.</p>
    </div>

    <div class="equipo-item">
      <figure>
        <img src="./assets/Ana.jpeg" alt="">
      </figure>
      <h4>Ana Magdalena</h4>
      <p>Mtra. Ana Torres, vive en Guadalajara México, donde trabaja como artista. Su arte profundiza en una variedad de medios interdisciplinarios; que configuran mosaicos transdisciplinarios de narrativas visuales, sonoras, científicas y etnográficas.</p>
    </div>
  </div>

</section>
