
<app-menu></app-menu>

<!-- info del proyecto -->
<section class="container-grandes container">
  <div class="seccion-grande imagen-1">
    <div class="filtro">
      <h3>Nuestra</h3>
      <h3>Problematica</h3>
    </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <p class="text-info">Es difícil imaginar todo lo que está en juego. ¿Termina el Antropoceno rápidamente, con una explosión o una efervescencia? ¿Cómo es posible que evolucione desde aquí, de vuelta a un sistema equilibrado? ¿Hay incluso ejemplos de sistemas que progresan hacia atrás?      <br> <br>      ¿Cómo se puede volver a dar sentido a un lugar y ver sus potenciales poéticos cuando uno se percibe a sí mismo como si ya estuviera respirando el Antropoceno?
        </p>
      </div>
  </div>
</section>

<section class="container-grandes container flex-reverse">
  <div class="seccion-grande color">
      <div>
        <h3>Ejemplo de estudio de caso</h3>
        <p class="text-info">La contaminación del Río Santiago, es de los desastres ecológicos más grandes de Jalisco. Tan pronto nos acercamos a las maravillosas cascadas, del Salto, un penetrante olor a químicos se inserta en nuestras cavidades nasales. Los habitantes de la zona sufren cáncer y enfermedades de los riñones, trastornos cognitivos y emocionales. Muchas muertes se atribuyen a la contaminación. El Estado niega o desconoce, pero los líderes comunitarios sospechan que el agua contaminada que corre por el Río Santiago, que nutre el Lago de Chapala y las bombas de los sistemas públicos de agua potable de la región es a la que hay que culpar. <br> <br> ¿Como los habitantes en esta área se han organizado y han logrado resistir e ir más allá?.
        </p>
      </div>
  </div>
  <div class="seccion-grande imagen-2">
    <div class="filtro">
      <h3>La historia</h3>
      <h3>Inspiración</h3>
    </div>
</div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande imagen-3">
      <div class="filtro">
        <!-- <h3 id="lo-que-vamos"> Lo que vamos a hacer</h3> -->
        <h3> Enfoque</h3>
      </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <h3>Mientos al agua</h3>
        <p class="text-info">
          La gran mentira es que el Estado o alguna agencia internacional amorfa vendrá a salvarnos. El mundo entero debería estar enfocado en las amenazas existenciales que enfrentamos. Si toda la energía creativa y el trabajo sin explotar que nos rodea se centraran en esto, entonces tal vez esto no sería una mentira. Pero lo es, y somos parte de él porque, ¿qué otra opción nos queda? Una vez que hayas visto la devastación que estamos perpetrando en nuestro entorno, nunca podrás alejarte de él, porque es parte de ti. Nuestro mundo natural es parte de nosotros. Eso no es mentira.
        </p>
      </div>
  </div>
</section>

<!-- Frasse -->
<section class="container frase">
    <div>
      <h3>Manifiesto</h3>
      <br>
      <p>
        “El	medio	ambiente	es	el	mundo	fenomenológico	que	percibimos	con	nuestros	sentidos:	con	
nuestros	ojos,	nuestra	nariz,	nuestros	oídos	y	con	nuestra	piel	e	incluye	la	tierra	bajo	nuestros	
pies,	el	cielo	que	se	arquea	sobre	nuestras	cabezas	y	el	aire	que	respiramos;	sin	mencionar	la	
profusión	de	vegetales	que	se	energizan	por	la	luz	solar,	así	como	todos	los	animales	que	
dependen	de	esto	que	absorben	visualmente	tanto	como	lo	hacemos	nosotros” (Ingold,	1990)
<br>
<br>
No	necesitamos	mirar	muy	lejos	para	conocer	las	amenazas	existenciales	que	actualmente	
enfrenta	la	humanidad	en	cuanto	al	estado	del	medio	ambiente.	
Los	científicos	del	sistema	mundial	han	identificado	9	umbrales	que	no	se	pueden	traspasar	sin	
desestabilizar	la	vida	en	el	planeta	tal	como	la	conocemos.	Cuatro	de	esos	límites	han	sido	
cruzados.	Kolbert	(2016)	denota	esto	como	la	edad	de	la	6ª	Extinción.
<br>
<br>
El	cómico	George	Carlin	en	su	arenga	contra	la	tontería	de la	“amenaza”	de	los	seres	humanos	
contra	la	Tierra,	relacionado,	quizá,	con	el	argumento	de	Chakrabarty	(2008):	“Parece	que	es	
verdad	que	la	crisis	del	cambio	climático	la	necesitan	los	modelos	de	alto	consumo	de	energía	de	
la	sociedad	que	la	industrialización	capitalista	ha	creado	y	promovido”.	Sin	embargo,	la	crisis	
actual	que	tiene	al	cambio	climático	como	centro	ha	traído	consigo	la	atención	a	algunas	otras	
condiciones	necesarias	para	la	existencia	de	vida	en	forma	humana	que	no	tiene	conexión	con	la	
lógica	identitaria	del	capitalismo,	el	nacionalismo	o	del	socialismo,	ya	que	están	conectados	a	la	
historia	de	la	vida	en	este	planeta,	la	forma	en	la	que	distintas	formas	vivientes	se	conectan	entre	
sí	y	la	manera	en	que	la	extinción	masiva	de	una	especie	puede	significar	peligro	para	otra.	Sin	esta	
historia	de	la	vida,	la	crisis	del	cambio	climático	no	tiene	“significado”	humano,	ya	que	“no	se	trata	
de	una	crisis	de	un	planeta	inorgánico	en	sentido	alguno”.11
<br>
<br>
La	contaminación	del	Río	Santiago,	es	de	los	desastres	ecológicos	más	grandes	de	Jalisco.	Tan	
pronto	nos	acercamos	a	las	maravillosas	cascadas,	del	Salto,	un	penetrante	olor	a	químicos	se	
inserta	en	nuestras	cavidades	nasales,	ataca	la	garganta	y	nos	deja	con	una	intensa	irritación	en	los	
ojos.
<br>
<br>
Los	habitantes	de	la	zona	sufren	cáncer	y	enfermedades	de	los	riñones,	trastornos	cognitivos	y	
emocionales	Muchas	muertes	se	le	atribuyen	a	la	contaminación.	El	Estado	niega	que	tenga	
relación	con	la	contaminación	o	la	causa	se	desconoce,	los	líderes	comunitarios	sospechan	que	el	
agua	contaminada	del	Río	Santiago	y	los	sistemas	públicos	de	agua	potable	de	la	región	es	a	la	que	
hay	que	culpar.
<br>
<br>
Los	humanos,	los	objetos	y	el	medio	ambiente	suelen	ser	conceptualizados	como	elementos	
separados	sin	relaciones	sustanciales	entre	ellos. Los	ensambles	que	se	producen	involucran	a	la	
gente,	el	medio	ambiente	y	los	procesos	tecnológicos,	los	cuales	revelan	la	íntima	relación	con	el	
desastre	ecológico	jalisciense. El	ensamblaje	de	estas	ideas	y	agendas	están	modeladas	
mutuamente	por	un	número	inimaginable	de	factores	y	circunstancias	convergentes	(Deleuze	y	
Guattari).	Desafortunadamente,	ahora	los	seres	humanos	nos	hemos	convertido	en	agentes	
geológicos	que	afectan	las	condiciones	necesarias	para	nuestra	supervivencia.
<br>
<br>
Tim	Ingold	dice	que	Para	asegurar	que	el	mundo	acoja	tanto	a	seres	humanos	y	no	humanos	como	
hasta	ahora,	es	necesario	cerrar	la	brecha	que	actualmente	existe	entre	el	medio	ambiente	que	
experimentamos	diariamente	en	nuestras	vidas	–el	que	nos	rodea,	en	la	realidad	y	el	que	la	
ciencia	y	los	discursos	políticos	modelan,	ya	que	nuestra	noción	de	enfermedad	y	salud,	e	incluso	
de	la	forma	en	la	que	sentimos	se	ve	influida	por	estos	conceptos	que	cambiamos	de	manera	
imperceptible	de	una	a	otra. Por	más	que	buscamos	soluciones	internacionalistas,	en	las	cuales	las	
naciones	se	coluden	para	derrotar	los	problemas	que	provienen	del	orden	capitalista.		“Quiero	
cuestionar	el	así	llamado	medio	ambiente	en	los	discursos	científicos	y	políticos,	cuestionar	si	es	
uno	que	los	seres	humanos	o	cualquier	otra	criatura	que	ha	habitado	el	planeta	lo	crea”.
<br>
<br>
Philippe	Descola	nos	cuenta	que	hay	una	disociación	entre	los	intelectuales	que	negocian	tratados	
internacionales	y	la	realidad.	El	medio	ambiente	no	puede	tratarse	meramente	como	problema	
intelectual.16
<br>
<br>
Los	acuerdos	internacionales	lidian	con	crisis	ambientales.	Estos	acuerdos	se	toman	en	salas	
modernas	y	lujosas	en	las	que	las	personas	que	toman	las	decisiones	se	sientan	a	disfrutar	su	café	
en	sillas	mullidas	e	impecables;	cada escupitajo	lo	limpian	con	toallas	anti bacteriales,	muchos	
representantes	nacionales	atienden	sus	correos	electrónicos,	escriben	tuíts	y	responden	mensajes	
mientras	están	en	las	juntas	en	las	que	revisan	las	finanzas	de	las	cuentas	de	sus	negocios	en	otras	
partes	del	mundo:	pura	diplomacia	(no	olvidar	el	encanto).	Aun	así,	a	pesar	de	lo	esotérico	y	quizá	
corrupto	que	este	proceso	sea,	el	marco	en	el	que	se	llegan	a	acuerdos	entre	las	más	de	cien	
naciones	distintas	sirve	como	faro	y	tienen	agendado lo	que	hay	que	hacer,	cómo	reducir	la	
entrada,	salida	y	la	cantidad	de	carbón	en	el	proceso.
<br>
<br>
Hay	miles	de	personas	que	intentan	adelantarse	en	busca	de	alternativas,	el	problema	es	que	se	
no	están	conectados,	pero	están	en	movimiento.	Las	instituciones	internacionales,	tan	fluidas	y	
torcidas	como	se	encuentran,	están	en	constante	movimiento	y	en	colusión	de	ideas.	Muchas	de	
éstas	imponen	agendas	extractivistas.	Aun	así,	responden	a	resistencias	y	contradicciones	locales.
<br>
<br>
“¿Cómo	reduces	los	incendios	forestales	desde	una	convención?	En	éstas	acuerdan	salvar	los	
bosques,	pero	los	bosques	siguen	quemándose	más	y	más	con	el	paso	de	los	años.	Cada	vez	que	
un	árbol	se	quema,	todo	el	carbón	que	ahorraste	en	congresos	se	va	a	la	atmósfera.	¿Cómo	
reduces	los	incendios	forestales	o	la	acidificación	del	océano? Se	trata	de	esfuerzos	globales!	Hay	
buenas	ideas	que	nacen	de	la	gente	que	se	reúne	en	representación	del	resto	del	mundo	en	salas	
de	juntas	y	negocian	a	través de	datos,	la	manera	de	comportarnos	o	a	ver	cómo	consumimos,	
obviamente	se	trata	de	ciencia	ficción.	Es	como	un	código	o	una	estructura	y	no	nos	gusta	creer	en	
estructuras,	pero	podemos	inventarlas” (Greene).	Como	estos	datos	y	moléculas	se	relacionan,	
conectan	a	la	vida	de	las	personas,	así	como	a	las	culturas	del	agua	de	todo	el	mundo.
<br>
<br>
Todo	lo	que	hacemos,	cada	acción	que	realizamos,	proviene	de	una	estructura.	Puedes	estar	
consciente	o	no	de	las	estructuras	que	reproducimos;	incluso	puedes	darte	el	lujo	de	ser	
ignorante,	¡pero	nunca	serás	inocente!	(Greene,	2016)
<br>
<br>
¿Como	los	habitantes	en	esta	área se	han	organizado	y	han	logrado	resistir	e	ir	mas	allá?
Rastreando	la	vida	de	120,000	personas	que	viven	aquí	en	el	Salto,	han	encontrado	el	 amor	y	se	
han	establecido	donde	no	encontramos	muchos	peces	pero	aún	vemos	animales	preciosos	como	
el	puma	y	muchos	otros,	donde	sentimos	nostalgia	por	los	árboles	de	mango	y	aguacate	que	solían	
prosperar,	y	donde	las	fábricas	y	los	desarrolladores	han	encontrado	sus	riquezas.	¿Cuál	es	el	
potencial	de	esta	región?	¿Qué	tipo	de	notaciones	son	útiles?		Hoy,	dando	sentido	a	la	historia	de	
mucha	gente	y	de	estas	aguas	que	envenenan,	esta	región	sería	más	que	mirar	hacia	atrás	a	lo	que	
solía	ser.	Tendríamos	que	hacer	un	intento	de	ver	la	actualidad	de	este	lugar.	Quizá	deberíamos	
repensar	de	una	forma	más	“poética”,	percibiendo	el	proceso	ontogenético	de	esta	región	y	
reterritorializándola.
<br>
<br>
Los	colapsólogos	(Servigne y	Stevens,	2020)	nos	dicen	que	es	hora	de	trabajar	a	nivel	local	y	
preparar	a	las	comunidades	para	resiliencia	en	este	tiempo	de	incertidumbre,	cambio	climático,	
contaminación	extrema,	pandemias	y	pérdida	de	diversidad	biológica. En	todos	los	casos,	buscan	
con	desesperación	recuperar	el	control	de	su	entorno	que	incluye	agua,	tierra	y	aire.
El	proyecto	propone	estimular	la	ciencia	ciudadana	y	sus	procesos	sociales,	a	través	de	una	
plataforma	interactiva	que	ofrece	herramientas	multidisciplinarias	práctico-poéticas.	Una	
invitación	a	tomar	acción	y	entender	comportamientos	y	trastornos	acerca	de	nuestras	aguas.
<br>
<br>
Es	difícil	imaginar	todo	lo	que	está	en	juego.	¿Termina	el	Capitalooceno	rápidamente,	con	una	
explosión	o	una	efervescencia?	¿Cómo	es	posible	que	evolucione	desde	aquí,	de	vuelta	a	un	
sistema	equilibrado?	En	El	Salto	el	Capitaloceno ya	nos	toco	la	puerta	los	desastres	ya	están	aquí.	
Se	han	convertido	en	parte	de	nuestra	vida	cotidiana,	de	nuestra	realidad	o	quizá	nos	hemos	
vuelto	parte	del	desastre.
¿Cómo	se	puede	volver	a	dar	sentido	a	un	lugar	y	ver	sus	potenciales	poéticos	cuando uno	se	
percibe	a	sí	mismo	como	si	ya	estuviera respirando	el	Capitalopoceno?
<br>
<br>
La	gran	mentira	es	que	estos	pequeños	actos	relacionados	con	la	resistencia	y	la	restauración	de	
nuestro	entorno	catastrófico	marcarán	la	diferencia.	Pero	la	mentira	también	es	que	el	Estado	o	
alguna	agencia	internacional	amorfa	vendrá	a	salvarnos.	El	mundo	entero	debería	estar	enfocado	
en	las	amenazas	existenciales	que	enfrentamos.	Si	toda	la	energía	creativa	y	el	trabajo	sin	explotar	
que	nos	rodea	se	centraran	en	esto,	entonces tal	vez	esto	no	sería	una	mentira.	Pero	lo	es	y	somos	
parte	de	él	porque,	¿qué	otra	opción	nos	queda?	Una	vez	que	hayas	visto	la	devastación	que	
estamos	perpetrando	en	nuestro	entorno,	nunca	podrás	alejarte	de	él,	porque	es	parte	de	ti.	
Nuestro	mundo	natural	es	parte	de	nosotros.	Eso	no	es	mentira.
<br>
<br>
A	través	del	arte	trazamos	distintos	ejes	de	percepción,	conceptualización	y	cuestionamiento	de	lo	
humano,	lo	espiritual,	la	tecnología,	la	naturaleza	y	el	mundo.	Su	naturaleza	misma	implica	un	
interfaz	con	los	limites	de	lo	que	es	ser	humano	(de	la	Peña,	2022).	
      </p>
    </div>
</section>
<!-- <section class="container frase">
    <div>
      <p>"Todo lo que hacemos, cada acción que tomamos es la producción de una estructura. Puedes ser consciente o no de las estructuras que reproducimos y puedes ser ignorante, ¡pero no eres inocente!"</p>
      <br>
      <p>--- Greene, septiembre de 2016</p>
    </div>
</section> -->

<section class="colaboraciones-container">
  <h3 class="title-seccion">Distintas perspectivas acerca del
    comportamiento del agua</h3>
  <div class="lista-colaboraciones">
    <app-item-colaboraciones
      [TipoObra]="'Video'"
      [ArtistaNombre]="'Camila Luna'"
      [ArtistaDescripcion]="'Soy una filmmaker de contenido creativo y educativo, me encanta la animación y el diseño.'"
      [ArtistaImg]="'/assets/artistas/Camila.jpeg'"
      [ArtistaLink]="'/visualizedata/art/1'"
    ></app-item-colaboraciones>
    <app-item-colaboraciones
      [TipoObra]="'Animacion'"
      [ArtistaNombre]="'Diego y Ana'"
      [ArtistaDescripcion]="'El equipo de Mientos al agua, donde se combina el arte, la tecnología y la ciencia.'"
      [ArtistaImg]="'/assets/artistas/diego-ana.jpg'"
      [ArtistaLink]="'/visualizedata/view/purificadora_de_agua_1'"
    ></app-item-colaboraciones>
    <app-item-colaboraciones
      [TipoObra]="'Sonora'"
      [ArtistaNombre]="'Diego Martínez Guillén'"
      [ArtistaDescripcion]="'Trabaja en la producción de proyectos auditivos para la investigación social que resultan en piezas como instalaciones audiovisuales multicanales, composiciones electroacústicas y otras obras de audio-arte.'"
      [ArtistaImg]="'/assets/artistas/diego-flash.jpeg'"
      [ArtistaLink]="'/visualizedata/art/3'"
    ></app-item-colaboraciones>
  </div>
</section>

<!-- Processo -->
<section class="colaboraciones-container">
  <h3 class="title-seccion">Processo</h3>
  <div class="lista-colaboraciones proseso">

    <div class="proceso-container">
      <figure class="img-container">
        <img src="./assets/Proseso/arduino.svg" alt="Artistica">
      </figure>
      <div class="filtro-absolute"></div>
      <div class="proseso-data-container">
        <h4 class="pro-title">Monitoreo del agua</h4>
        <p class="pro-text">Se monitorea de de TDS, pH,
          temperatura del agua, Turbiedad</p>
      </div>
    </div>

    <div class="proceso-container">
      <figure class="img-container">
        <img src="./assets/Proseso/data.svg" alt="Artistica">
      </figure>
      <div class="filtro-absolute"></div>
      <div class="proseso-data-container">
        <h4 class="pro-title">Visualización de datos</h4>
        <p class="pro-text">Creando una base de datos, con la historia de la ubicación de los dispositivos</p>
      </div>
    </div>

    <div class="proceso-container">
      <figure class="img-container">
        <img class="img-class-art" src="./assets/Proseso/arte.svg" alt="Artistica">
      </figure>
      <div class="filtro-absolute"></div>
      <div class="proseso-data-container">
        <h4 class="pro-title">Creacion de arte</h4>
        <p class="pro-text">Involucrando la ciencia con los datos 
          duros de los sensores, donde la 
          creación de arte se hace posible.</p>
      </div>
    </div>

  </div>
</section>