h3{
  margin-bottom: 2%;
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.container{
  width: 100%;
}

.container-grandes{
  display: flex;
  height: 100vh;
  text-align: center;
}

.seccion-grande{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-grande div{
  width: 70%;
}

/* filter: brightness(0.4); */

.imagen-1{
  background-image: url("/assets/test_8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: -652px;
  color: white;
  position:relative;
}
.imagen-2{
  background-image: url("/assets/test_7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.imagen-3{
  background-image: url("/assets/test_9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-position-x: -121px;
}

.color{
  background-color: black;
  color: white;
}

.frase{
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: white;
}

.frase div{
  font-size: 2rem;
  padding: 0 20% 0 20%;
}

/* filtro */
.filtro{
  width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filtro h3{
  font-family: "Cubano";
  font-size: 3.5rem;
  width: 60%;
}
.text-info{
  font-size: 1.4rem;
}

/* colaboraciones */
.colaboraciones-container{
  width: 80%;
  margin: 10%;
  height: 100vh;
}
.title-seccion{
  text-align: center;
  color: white;
  font-size: 2.5rem;
  width: 60%;
  margin: auto;
}

.lista-colaboraciones{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

/* proseso */

.proseso{
  margin-top: 100px;
}

.proceso-container{
  width: 400px;
  height: 400px;
  background-color: white;
  border: none;
  border-radius: 40px;
  position: relative;
}
.img-container{
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* 
.filtro{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0000003b;
  width: 100%;
  height: 100%;
  border-radius: 40px;
} */
