
<app-menu></app-menu>

<!-- info del proyecto -->
<section class="container-grandes container">
  <div class="seccion-grande imagen-1">
    <div class="filtro">
      <h3>Nuestra</h3>
      <h3>Problematica</h3>
    </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <p class="text-info">Es difícil imaginar todo lo que está en juego. ¿Termina el Antropoceno rápidamente, con una explosión o una efervescencia? ¿Cómo es posible que evolucione desde aquí, de vuelta a un sistema equilibrado? ¿Hay incluso ejemplos de sistemas que progresan hacia atrás?      <br> <br>      ¿Cómo se puede volver a dar sentido a un lugar y ver sus potenciales poéticos cuando uno se percibe a sí mismo como si ya estuviera respirando el Antropoceno?
        </p>
      </div>
  </div>
</section>

<section class="container-grandes container flex-reverse">
  <div class="seccion-grande color">
      <div>
        <h3>Ejemplo de estudio de caso</h3>
        <p class="text-info">La contaminación del Río Santiago, es de los desastres ecológicos más grandes de Jalisco. Tan pronto nos acercamos a las maravillosas cascadas, del Salto, un penetrante olor a químicos se inserta en nuestras cavidades nasales. Los habitantes de la zona sufren cáncer y enfermedades de los riñones, trastornos cognitivos y emocionales. Muchas muertes se atribuyen a la contaminación. El Estado niega o desconoce, pero los líderes comunitarios sospechan que el agua contaminada que corre por el Río Santiago, que nutre el Lago de Chapala y las bombas de los sistemas públicos de agua potable de la región es a la que hay que culpar. <br> <br> ¿Como los habitantes en esta área se han organizado y han logrado resistir e ir más allá?.
        </p>
      </div>
  </div>
  <div class="seccion-grande imagen-2">
    <div class="filtro">
      <h3>La historia</h3>
      <h3>Inspiración</h3>
    </div>
</div>
</section>

<section class="container-grandes container">
  <div class="seccion-grande imagen-3">
      <div class="filtro">
        <!-- <h3 id="lo-que-vamos"> Lo que vamos a hacer</h3> -->
        <h3> Enfoque</h3>
      </div>
  </div>
  <div class="seccion-grande color">
      <div>
        <h3>Mientos al agua</h3>
        <p class="text-info">
          La gran mentira es que estos pequeños actos relacionados con la resistencia y la restauración de nuestro entorno catastrófico marcarán la diferencia. Pero la mentira también es que el Estado o alguna agencia internacional amorfa vendrá a salvarnos. El mundo entero debería estar enfocado en las amenazas existenciales que enfrentamos. Si toda la energía creativa y el trabajo sin explotar que nos rodea se centraran en esto, entonces tal vez esto no sería una mentira. Pero lo es, y somos parte de él porque, ¿qué otra opción nos queda? Una vez que hayas visto la devastación que estamos perpetrando en nuestro entorno, nunca podrás alejarte de él, porque es parte de ti. Nuestro mundo natural es parte de nosotros. Eso no es mentira.
        </p>
      </div>
  </div>
</section>

<!-- Frasse -->
<section class="container frase">
    <div>
      <p>"Todo lo que hacemos, cada acción que tomamos es la producción de una estructura. Puedes ser consciente o no de las estructuras que reproducimos y puedes ser ignorante, ¡pero no eres inocente!"</p>
      <br>
      <p>--- Greene, septiembre de 2016</p>
    </div>
</section>

<section class="colaboraciones-container">
  <h3 class="title-seccion">Distintas perspectivas acerca del
    comportamiento del agua</h3>
  <div class="lista-colaboraciones">
    <app-item-colaboraciones></app-item-colaboraciones>
    <app-item-colaboraciones></app-item-colaboraciones>
    <app-item-colaboraciones></app-item-colaboraciones>
  </div>
</section>

<!-- Processo -->
<section class="colaboraciones-container">
  <h3 class="title-seccion">Processo</h3>
  <div class="lista-colaboraciones proseso">

    <div class="proceso-container">
      <figure class="img-container">
        <img src="./assets/Proseso/arduino.svg" alt="Artistica">
      </figure>
      <div class="filtro-absolute"></div>
      <div class="proseso-data-container">
        <h4 class="pro-title">Monitoreo del agua</h4>
        <p class="pro-text">Se monitorea de de TDS, pH,
          temperatura del agua, Turbiedad</p>
      </div>
    </div>

    <div class="proceso-container">
      <figure class="img-container">
        <img src="./assets/Proseso/data.svg" alt="Artistica">
      </figure>
      <div class="filtro-absolute"></div>
      <div class="proseso-data-container">
        <h4 class="pro-title">Visualización de datos</h4>
        <p class="pro-text">Creando una base de datos, con la historia de la ubicación de los dispositivos</p>
      </div>
    </div>

    <div class="proceso-container">
      <figure class="img-container">
        <img class="img-class-art" src="./assets/Proseso/arte.svg" alt="Artistica">
      </figure>
      <div class="filtro-absolute"></div>
      <div class="proseso-data-container">
        <h4 class="pro-title">Creacion de arte</h4>
        <p class="pro-text">Involucrando la ciencia con los datos 
          duros de los sensores, donde la 
          creación de arte se hace posible.</p>
      </div>
    </div>

  </div>
</section>