<main>
  <button class="to-return" routerLink="/visualizedata" routerLinkActive="active">
    <img src="./assets/inside-mca/button-left.svg" alt="">
    Regresar
  </button>
  <section class="info">
    <div class="two dispositivo-info">
      <p><b>Institución o comunidad:</b>{{sense.comunity_or_institution}}</p>
      <p><b>Nombre:</b> {{sense.name}}</p>
    </div>
  </section>
  <section class="arte">
    <figure class="arte-container ">
      <!-- <img src="./assets/inside-mca/arte.svg" alt="artista"> -->
      <!-- <div class="wave"></div> -->
      <div class="wave1" [ngStyle]="{'animation-duration':returnPh()}"></div>
      <div class="wave2" [ngStyle]="{'animation-duration':returnTem()}"></div>
      <div class="wave3" [ngStyle]="{'animation-duration':returnTur()}"></div>
      <div class="wave4" [ngStyle]="{'animation-duration':returnTDS()}"></div>
    </figure>
  </section>
</main>