main{
  width: calc(60vw);
  height: calc(100vh - 160px);
  padding-left: 20vw;
  padding-right: 20vw;
  border: none;
  border-radius: 36px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* main{
  width: calc(80vw - 160px);
  height: calc(80vh - 160px);
  margin: auto;
  padding: 80px; */
  /* background-color: white; */
  /* border: none;
  border-radius: 36px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
} */

/* botton */
button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.to-return{
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
}
button img{
  margin-right: 20px;
}

/* info */

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}
.dispositivo-info{
  width: 100%;
  height: 50%;
  background-color: #F0F0F0;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* user */
.artista-container div{
  margin-left: 10%;
}

/* info dispositivo */
.dispositivo-info{
  flex-direction: column;
}
.dispositivo-info p{
  width: 400px;
  text-align: center;
}

/* arte */

.arte{
  margin-top: 30px;
  width: 100%;
  height: 70%;
}
.arte-container{
  width: 100%;
  height: 100%;
  /* background-color: #BEE6FF; */
  position: relative;
}
/* .arte-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* animacion */

.wave1,
.wave2,
.wave3,
.wave4
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw #21d59b;
  /* animation: spin 16s infinite linear; */
  animation: spin infinite linear;
}

.wave2 {
  box-shadow: inset 0 0 10vw #D22D1F;
  /* animation: spin 13s infinite linear; */
  animation: spin infinite linear;
  animation-delay: 0.15s;
}

.wave3 {
  box-shadow: inset 0 0 10vw #FFC700;
  /* animation: spin 10s infinite linear; */
  animation: spin infinite linear;
  animation-delay: 0.25s;
}
.wave4 {
  box-shadow: inset 0 0 10vw #7fdcf0;
  /* animation: spin 7s infinite linear; */
  animation: spin infinite linear;
  animation-delay: 0.35s;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* .wave,
.wave::before,
.wave::after
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw #21d59b;
  animation: spin 16s infinite linear;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw #D22D1F;
  animation: spin 13s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw #FFC700;
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
} */