<main>
  <button class="to-return" routerLink="/visualizedata" routerLinkActive="active">
    <img src="./assets/inside-mca/button-left.svg" alt="">
    Regresar
  </button>
  <section class="info">
    <div class="two dispositivo-info">
      <p><b>Institución o comunidad:</b> El salto</p>
      <p><b>Nombre:</b> sonda 1</p>
    </div>
  </section>
  <section class="arte">
    <figure class="arte-container">
      <img src="./assets/inside-mca/arte.svg" alt="artista">
    </figure>
  </section>
</main>