h3{
  font-size: 1.5vw;
}
p{
  font-size: 1vw;
}
footer{
  margin-top: 150px;
  /* height: 50vh; */
  height: auto;
  width: 80%;
  background-image: linear-gradient(black, #055D94);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  /* display: flex; */
}

.flex{
  display: flex;
}
img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.logo-container{
  /* width: 236px;
  height: 87px; */
  width: 10vw;
}

.team-container,
.thanks-container{
  width: 50%;
  text-align: center;
  color: white;
}
.flash_act{
  margin: auto;
  margin-top: 30px;
}
.list-logos{
  margin-top: 30px;
  display: flex;
}
.aecid{
  /* width: 509px; */
  width: 40vw;
  height: 76px;
  margin: auto;
  margin-top: 30px;
}


/* person */

.persona-img{
  /* width: 134px; */
  /* height: 134px; */
  width: 9vw;
  height: 9vw;
  border: 4px solid white;
  border-radius: 100%;
}

.persona-img img{
  border-radius: 100%;
  background-color: black;
}
.person-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.person-container div{
  width: 50%;
}

@media (max-width: 600px) {

  footer{
    flex-direction: column;
    height: auto;
  }

  .flex{
    flex-direction: column-reverse;
  }
  .team-container,
  .thanks-container {
    width: 100%;
    text-align: center;
  }

  .list-logos{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .person-container{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  p{
    font-size: 1.5vw;
  }

  .person-container{
    margin-top: 25px;
    margin-bottom: 0;
  }

  .margin-small{
    margin-top: 2vh;
  }

  .logo-container {
    width: 20vw;
  }
  .flash_act{
    width: 40vw;
  }

  .aecid{
    height: auto;
    width: 80vw;
  }

  h3{
    font-size: 4vw;
  }
  p{
    font-size: 3vw;
  }

  .person-container{
    flex-direction: column;
  }
  .persona-img{
    width: 18vw;
    height: 18vw;
    border: 1px solid white;
    margin-bottom: 10px;
  }

  .person-container div {
    width: 85%;
  }
}

/* footer{
  margin-top: 150px;
  height: 50vh;
  width: 80%;
  background-image: linear-gradient(black, #055D94);
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.logo-container{
  width: 236px;
  height: 87px;
}

.team-container,
.thanks-container{
  width: 50%;
  text-align: center;
  color: white;
}
.flash_act{
  margin: auto;
  margin-top: 30px;
}
.list-logos{
  margin-top: 30px;
  display: flex;
}
.aecid{
  width: 509px;
  height: 76px;
  margin: auto;
  margin-top: 30px;
}
.persona-img{
  width: 134px;
  height: 134px;
  border: 4px solid white;
  border-radius: 100%;
}

.persona-img img{
  border-radius: 100%;
  background-color: black;
}
.person-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.person-container div{
  width: 50%;
} */