<main>
  <header class="header-container">
    <section class="header-content">
      <h1>Visualizador de datos</h1>
      <nav class="menu-container">
        <a class="menu-item" routerLink="/" routerLinkActive="active">Inicio</a>
        <a class="menu-item menu-on" >Visualizar datos</a>
        <a class="menu-item" href="https://documentacion-fact2022.web.app/" >Documentation</a>
        <a class="menu-item" href="https://comunidad-fact2022.web.app/" >Comunidad</a>
      </nav>
    </section>
  </header>

  <!-- lista -->
  <section class="container-mca lista-container">
    <!-- <h2>Dispositivos conectados</h2> -->
    <div class="lista-items">
      <!-- <app-item-mca *ngFor="let sensor of view_sensores" [sense]="sensor"></app-item-mca> -->
      <!-- <app-item-mca routerLink="/visualizedata/view/2" routerLinkActive="active"></app-item-mca> -->
      <!-- <button (click)="moreSensors()" >Mostrar Más</button> -->
    </div>
  </section>
</main>
<section class="container-mca lista-container">
  <h2>Dispositivos conectados</h2>
  <div class="lista-items">
    <app-item-mca *ngFor="let sensor of view_sensores" [sense]="sensor"></app-item-mca>
    <!-- <app-item-mca routerLink="/visualizedata/view/2" routerLinkActive="active"></app-item-mca> -->
    <button (click)="moreSensors()" >Mostrar Más</button>
  </div>
</section>