button{
  margin-top: 60px;
  width: 459px;
  height: 93px;
  background-color: #045C93;
  border: none;
  border-radius: 145px;
  color: white;
  font-family: "Cubano", sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

h1{
  font-size: 5.7rem;
  font-weight: bold;
}

h2{
  font-size: 3rem;
  font-family: "Cubano", sans-serif;
  color: white;
}
main{
  width: 100%;
  height: auto;
  /* background-image: url(/assets/fondo.svg); */
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.95)
   ),
   url('/assets/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-container{
  display: flex;
  justify-content:space-between;
}
.menu-item{
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
}

.menu-on{
  text-transform: uppercase;
  font-size: 1.9rem;
}

.lista-container{
  padding-top: 60px;
  text-align: center;
}

.lista-items{
  padding-bottom: 60px;
}

.frase{
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: white;
}