<app-menu></app-menu>

<section class="container etapas-section">
  <div class="etapas-list">
    <app-big-stage class="etapa-b" [imgUrl]='"./assets/etapas/etapa_1.svg"' [sectionName]='"Etapa 1"' [titleName]='"Calibración sensores"' ></app-big-stage>
    <app-small-stage class="etapa-s" [imgUrl]='"./assets/etapas/etapa_2.svg"' [sectionName]='"Etapa 2"' [titleName]='"Electronica"' [colorSection]='"white"' [colorbackground]='"#53A6D8"' [colorTitle]='"rgba(255,255,255, 0.52)"' ></app-small-stage>
    <app-small-stage class="etapa-s" [imgUrl]='"./assets/etapas/etapa_2.svg"' [sectionName]='"Etapa 3"' [titleName]='"Programación"' [colorSection]='"white"' [colorbackground]='"#045C93"' [colorTitle]='"rgba(255,255,255, 0.52)"' ></app-small-stage>
  </div>
  <div class="etapas-list">
    <app-small-stage class="etapa-s" [imgUrl]='"./assets/etapas/etapa_2.svg"' [sectionName]='"Etapa 4"' [titleName]='"Armado"' [colorSection]='"white"' [colorbackground]='"#53A6D8"' [colorTitle]='"rgba(255,255,255, 0.52)"' ></app-small-stage>
    <app-small-stage class="etapa-s" [imgUrl]='"./assets/etapas/etapa_5.svg"' [sectionName]='"Etapa 5"' [titleName]='"Instalar"' [colorSection]='"white"' [colorbackground]='"#045C93"' [colorTitle]='"rgba(255,255,255, 0.52)"' ></app-small-stage>
    <app-big-stage class="etapa-b" [imgUrl]='"./assets/etapas/etapa_6.svg"' [sectionName]='"Etapa 6"' [titleName]='"Comparte tu experiencia"' [colorSection]='"white"' [colorbackground]='"#222222"' [colorTitle]='"rgba(255,255,255, 0.52)"' ></app-big-stage>
  </div>
</section>

<!-- calibracion sensores -->
<section class="container-all">
  <div class="seccion-name">
    <h2>Calibración sensores</h2>
  </div>
  <div class="seccion-steps">
    <div class="seccion-steps-info">
      <h3>Titulo …</h3>
      <p>Descripción
        Detalles
      </p>
    </div>

    <div class="seccion-steps-imgs">
      <figure class="paso paso-1" ></figure>
      <div class="display-flex">
        <figure class="paso paso-2" ></figure>
        <figure class="paso paso-3" ></figure>
      </div>
      <figure class="paso paso-4" ></figure>
      <figure class="paso paso-5" ></figure>
    </div>
  </div>
</section>

<section class="container-all">
  <div class="seccion-name electronica">
    <h2>Electronica</h2>
  </div>
  <div class="seccion-steps-block">
    <div class="seccion-img">
      <figure class="principal-img">
        <img src="./assets/img_1.svg" alt="">
      </figure>
      <div class="selec-imgs">
        <div class="selec-item">
          <figure class="img-small">
            <img src="./assets/img_1.svg" alt="">
          </figure>
          <p><b>Paso 1</b></p>
          <p>informacion</p>
        </div>
        <div class="selec-item">
          <figure class="img-small">
            <img src="./assets/img_1.svg" alt="">
          </figure>
          <p><b>Paso 1</b></p>
          <p>informacion</p>
        </div>
        <div class="selec-item">
          <figure class="img-small">
            <img src="./assets/img_1.svg" alt="">
          </figure>
          <p><b>Paso 1</b></p>
          <p>informacion</p>
        </div>
      </div>
    </div>
    <div class="block-seccion-info">
      <h3>Paso 1</h3>
      <p>Información</p>
    </div>
  </div>
</section>

<app-footer></app-footer>