/* button{
  margin-top: 60px;
  width: 459px;
  height: 93px;
  background-color: #045C93;
  border: none;
  border-radius: 145px;
  color: white;
  font-family: "Cubano", sans-serif;
  font-size: 2rem;
}

.header-content{
  width: 50%;
}

h1{
  font-size: 5.7rem;
  font-weight: bold;
}

h2{
  font-size: 3rem;
  color: white;
}
main{
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.95)
   ),
   url('/assets/fondo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.header-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-container{
  display: flex;
  justify-content:space-between;
}
.menu-item{
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
}

.menu-on{
  text-transform: uppercase;
  font-size: 1.9rem;
}

.que-es{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  color: white;
  padding-left: 15%;
  padding-right: 50%;
  font-family: "Mukta";
} */

/* responsive */
p{
  font-size: 1.1vw;
}

button{
  margin-top: 60px;
  width: 459px;
  height: 93px;
  background-color: #045C93;
  border: none;
  border-radius: 145px;
  color: white;
  font-family: "Cubano", sans-serif;
  font-size: 2rem;
}

h1{
  /* font-size: 5.7rem; */
  font-size: 6.3vw;
  font-weight: bold;
  width: 50vw;
}

h2{
  font-size: 3vw;
  color: white;
}
main{
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.95)
   ),
   url('https://storage.googleapis.com/contenido-adicional-web-angular/Gif.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

}

.header-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item{
  color: white;
  /* font-size: 1.6rem; */
  font-size: 1.8vw;
  text-decoration: none;
  font-weight: bold;
}

.menu-on{
  text-transform: uppercase;
  /* font-size: 1.9rem; */
  font-size: 2.1vw;
}

/* .lista-container{
  padding-top: 60px;
  text-align: center;
} */

/* .lista-items{
  padding-bottom: 60px;
} */

/* que es */
.que-es{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  color: white;
  padding-left: 15%;
  /* padding-right: 50%; */
  width: 50vw;
  font-family: "Mukta";
}

@media (max-width: 800px) {
  h1{
    width: 80vw;
  }
  .menu-container{
    width: 80vw;
    margin-top: 2vh;
  }
  .menu-item{
    font-size: 2.8vw;
  }
}

@media (max-width: 625px) {

  .que-es{
    padding: 0;
    width: 90vw;
    margin: auto;
    height: auto;
  }

}
@media (max-width: 425px) {
  h2{
    font-size: 6vw;
  }

  p{
    font-size: 4vw;
  }
}