<main>
  <header class="header-container">
    <section class="header-content">
      <!-- <h1>Acercamientos al agua</h1> -->
      <h1>Mientos al agua</h1>
      <nav class="menu-container">
        <a class="menu-item menu-on" routerLink="/" routerLinkActive="active" >Inicio</a>
        <a class="menu-item" routerLink="/visualizedata" routerLinkActive="active">Visualizar datos</a>
        <a class="menu-item" href="https://doc.mientosalagua.org/" >Documentation</a>
        <a class="menu-item"  href="https://comunidad.mientosalagua.org/">Comunidad</a>
      </nav>
    </section>
  </header>

  <section class="container lista-container que-es">
    <div>
      <p>Innovador</p>
      <h2 id="que-es-h3">¿Qué es el proyecto?</h2>
      <p>Una invitación a tomar acción y entender los comportamientos y trastornos acerca de nuestras aguas</p>
      <br>
      <p>Este proyecto parte del gesto artístico de incentivar la ciencia ciudadana y contribuir a la formación de vínculos y herramientas apropiadas para las comunidades alrededor del Río Santiago y otros pueblos en el mundo. Como estos datos y moléculas se relacionan, conectan a la vida de las personas, así como a las culturas del agua de todo el mundo? </p>
    </div>
  </section>
</main>