<main>
  <header class="header-container">
    <section class="header-content">
      <h1>Acercamientos al agua</h1>
      <nav class="menu-container">
        <a class="menu-item menu-on" routerLink="/" routerLinkActive="active" >Inicio</a>
        <a class="menu-item" routerLink="/visualizedata" routerLinkActive="active">Visualizar datos</a>
        <a class="menu-item" >Documentation</a>
        <a class="menu-item" >Comunidad</a>
      </nav>
    </section>
  </header>

  <section class="container lista-container que-es">
    <div>
      <p>Innovador</p>
      <h2 id="que-es-h3">¿Qué es el proyecto?</h2>
      <p>Una invitación a tomar acción y entender los comportamientos y trastornos acerca de nuestras aguas</p>
    </div>
  </section>
</main>