<main>
  <header class="header-container">
    <section class="header-content">
      <h1>Visualizador de datos</h1>
      <nav class="menu-container">
        <a class="menu-item menu-on" href="">Inicio</a>
        <a class="menu-item" href="">Visualizar datos</a>
        <a class="menu-item" href="">Documentation</a>
        <a class="menu-item" href="">Comunidad</a>
      </nav>
    </section>
  </header>

  <!-- text -->
  <!-- <section class="que-es ">
    <div>
      <p>Innovador</p>
      <h2 id="que-es">¿Qué es el proyecto?</h2>
      <p>Una invitación a tomar acción y entender los comportamientos y trastornos acerca de nuestras aguas</p>
    </div>
  </section> -->

  <!-- lista -->
  <section class="container lista-container que-es">
    <div>
      <p>Innovador</p>
      <h2 id="que-es-h3">¿Qué es el proyecto?</h2>
      <p>Una invitación a tomar acción y entender los comportamientos y trastornos acerca de nuestras aguas</p>
    </div>
    <!-- <h2>Dispositivos conectados</h2>
    <div class="lista-items">
      <button>Mostrar Más</button>
    </div> -->
  </section>
</main>