.stage-small{
  height: calc(100% - 4vw);
  width: calc(100% - 4vw);
  padding: 2vw;
  background-color: white;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

h2{
  /* font-size: 3em; */
  font-size: 2.7vw;
  font-family: "Cubano", sans-serif;
  color: rgba(0, 0, 0, 0.52);
}

h3{
  font-size: 1.6em;
  color: black;
}

/* img */
.img-container{
  position: absolute;
  /* top: -110px; */
  top: -5.6vw;
  right: 30px;
  /* width: 200px;
  height: 200px; */
  width: 11vw;
  height: 11vw;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: fill; */
  border: none;
  /* border-radius: 40px; */
  border-radius: 2.4vw;
  box-shadow: -10px 20px 10px rgb(0, 0, 0, 20%);
}

@media (max-width: 800px) {
  .stage-small{
    height: 12vw;
  }

  img{
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .img-container{
    top: 2vw;
  }
}